<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nightclub Pre-booking</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>

    <script src="vue.js"></script>
    <h1>Ordering Menu</h1>

    <div id="app">
      <h2>Food</h2>
      <h4>
        <div id= "fooditem" v-for="fooditem in fooditems">
          {{fooditem.text}}<br>{{fooditem.price}}<br>{{fooditem.description}}
          <button type="button" @click="addFooditemToMenu()">Add to Order Menu</button>
        </div>
      </h4>

      <h2>Beverages</h2>
      <h4>
        <div id= "beverage" v-for="beverage in beverages">
          {{beverage.text}}<br>{{beverage.price}}<br>{{beverage.description}}
          <button type="button" @click="addBeverageToMenu()">Add to Order Menu</button>
        </div>
      </h4>

      <h1>
        Your current orders:
      </h1>
      <div id= "ordermenu" v-for="orderitem in orderMenu" v-if="orderStatus==true" >
        {{orderitem.text}}
      </div>
    </div>

    <button type="button" @click="calculateBill(v-for="orderitem in orderMenu")">Calculate your Bill.</button>

    <script src="script.js"></script>

  </body>
</html>
