<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nightclub Pre-booking</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>


  <body>

    <h1>Ordering Menu</h1>
    <script src="vue.js"></script>

    <div id="app">
      <h2>Food</h2>
      <h4>
        <div id= "fooditem" v-for="fooditem in fooditems">
          {{fooditem.text}}<i><div id="info">Rs. {{fooditem.price}}<br>{{fooditem.description}}</i></div>
          <button type="button" @click="addFooditemToMenu(fooditem)">Add to Order Menu</button>
        </div>
      </h4>

      <h2>Beverages</h2>
      <h4>
        <div id= "beverage" v-for="beverage in beverages">
          {{beverage.text}}<div id="info"><i>Rs. {{beverage.price}}<br>{{beverage.description}}</i></div>
          <button type="button" @click="addBeverageToMenu(beverage)">Add to Order Menu</button>
        </div>
      </h4>
      <br><br><br>
      <div id="order">
        <h1 id="post">
          Your current orders:
        </h1>
        <div id="price"> <a v-for="item in price">{{item}} + </a></div>
        <div id="bill">
        <button align="center" type="button" @click="calculateBill()">Calculate your Bill.</button><br>

        <div id="final" v-if="bill!=0">
          Your final bill is: {{bill}}
        </div>
      </div><br>
        <ul>
          <li v-for="food in foodname" v-for "item in prices" v-if="orderStatus==true" >
          {{food}}
          {{item}}
          <button type="button" @click="removefood($index)">Remove Item</button>
        </li>
        <li v-for="beverage in beveragename" v-for "item in prices" v-if="orderStatus==true" >
          {{beverage}}
          {{item}}
          <button type="button" @click="removebeverage($index)">Remove Item</button>
        </li>
      </ul>

      </div>


    </div>



    <script src="script.js"></script>

  </body>
</html>
